{% extends "main.html" %}

{% block title %}{{expense.description}}{% endblock %}
{% block subtitle %}{{expense.created_by}} - {{expense.created_at}}{% endblock %}

{% block expense %}
	<table id="expense-table">
	<tr>
		<td></td>
		<td></td>
		<td><a href="#" id="bulk-select-all-none">All</a></td>
		<td>
			<select class="chosen-select" id="bulk-select">
				<option>Assign selected to...</option>
				{% for friend in user.profile.self_and_friends %}
				<option value="{{friend.user.pk}}">{{friend.user}}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	{% for item in expense.items.all %}
		{% include "item_form.html" %}
	{% endfor %}
	{% include "item_form.html" %}
	</table>
{% endblock %}